.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

video {
    width: 400px;
    height: 100vh;
    position: relative;
    object-fit: cover;
}

.logo {
    position: absolute;
    color: #333;
    left: 30px;
    top: 30px;
    display: flex;
    align-items: center;
    flex-shrink: none;
    gap: 5px;
    cursor: default;
    z-index: 100;

    span {
        font-size: 2.2rem;
        font-weight: 400;
    }

    svg {
        height: 2.6rem;
    }
}

.form-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

    form {
        width: 100%;
        max-width: 450px;
        padding: 20px;
        position: absolute;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            font-size: 2.4rem;
            margin-bottom: 20px;
        }

        hr {
            height: 1px;
            overflow: visible;
            border: none;
            background-color: #e7e7e9;
            color: #6e6d7a;
            text-align: center;
            position: relative;

            &::after {
                content: "or";
                display: inline-block;
                position: absolute;
                font-size: 1.4rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 0 16px;
                background: #fff;
            }
        }

        input,
        button {
            height: 55px;
            width: 100%;
            border-radius: 9px;
            border: 1px solid #e7e7e9;
            font-size: 1.6rem;
            padding: 0 20px;
            background-color: transparent;
        }

        button {
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 600;
        }

        span {
            font-size: 1.3rem;
            text-align: center;

            a {
                text-decoration: underline;
            }
        }
    }
}

.submit-btn {
    background-color: var(--bg-btn) !important;
    color: white !important;

    &:hover {
        background-color: var(--bg-btn-hover) !important;
    }
}

.sub-title {
    font-size: 1.4rem;
    display: inline-block;
    margin: 0 auto;

    a {
        text-decoration: underline;
    }
}

.form-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;

    label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
        font-weight: 600;

        a {
            font-size: 1.4rem;
            font-weight: 400;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    input {

        &:hover,
        &:focus {
            border-color: pink;
            box-shadow: 0 2px 12px rgba(255, 192, 203, 0.5);
        }
    }
}

.back-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    height: max-content;
    cursor: pointer;
    transition: var(--transition);

    svg {
        height: 3rem !important;
        width: 3rem !important;
    }

    &:hover {
        transform: scale(1.2);
    }
}

@media only screen and (max-width: 1450px) {
    .form-container {
        position: relative;
    }
}

@media only screen and (max-width: 945px) {
    .wrapper video {
        display: none;
    }

    .logo {
        color: black;
    }

    .back-btn {
        svg {
            width: 2.5rem !important;
            height: 2.5rem !important;
        }
    }
}