.wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    header {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;

        nav {
            display: flex;
            gap: 50px;
            align-items: center;
        }
    }
}

.menu-btn {
    background-color: transparent;
    cursor: pointer;
    display: none;
    
    svg {
        width: 2.6rem;
        height: 2.6rem;
    }
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    a {
        font-size: 1.5rem;
        transition: 0.3s ease-in-out;
        font-family: 300;

        &:hover {
            text-decoration: underline;
        }
    }
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    flex-shrink: none;
    gap: 5px;
    cursor: default;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    span {
        font-size: 2.6rem;
        font-weight: 400;
    }

    svg {
        height: 3rem;
    }
}

.auth-btns {
    display: flex;
    flex-direction: row;
    gap: 2px;

    svg {
        color: var(--text-color);
    }

    button {
        flex-shrink: 0;
        padding: 12px 25px;
        min-width: 100px;
        background-color: transparent;
        font-weight: 500;
        font-size: 1.4rem;
        border-radius: 99px;
        cursor: pointer;
        border: 1px solid transparent;
        color: black;

        &:hover {
            border: 1px solid var(--bg-btn);
        }
    }

    .signup-btn {
        display: inline-block;
        color: var(--bg-color);
        background-color: var(--bg-btn);

        &:hover {
            background-color: var(--bg-btn-hover);
        }
    }
}

.footer {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto 20px;
}

.footer-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .nav-list {
        flex-wrap: wrap;
        row-gap: 5px;
        justify-content: center;
    }

    p {
        display: flex;
        height: 100%;
        align-items: center;
        flex-shrink: none;
        gap: 5px;
        cursor: default;

        span {
            font-size: 2rem;
            font-weight: 400;
        }

        svg {
            height: 2rem;
        }
    }
}

.socials-list {
    display: flex;
    gap: 20px;

    svg {
        cursor: pointer;
    }
}

.footer-bottom {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 1.3rem;
    }

    a {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1280px) {
    .logo {
        display: flex;
        height: 100%;
        align-items: center;
        flex-shrink: none;
        gap: 5px;
        cursor: default;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    
        span {
            font-size: 2.2rem;
            font-weight: 400;
        }
    
        svg {
            height: 2.6rem;
        }
    }
}

@media only screen and (max-width: 950px) {
    .footer-top {
        flex-direction: column;
        gap: 15px;
    }

    .auth-btns {
        button {
            display: none;
        }
    }
}

@media only screen and (max-width: 800px) {
    .footer-bottom {
        flex-direction: column;
        gap: 10px;

        .nav-list {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .wrapper>header>nav {
        gap: 20px;
    }

    .menu-btn {
        display: inline-block;
    }

    .wrapper>header>nav>.nav-list {
        position: absolute;
        left: -100vh;
        top: 0;
    }
}